.jdialog-toast{
    position: fixed;
    text-align: center;
    padding: .4em .8em;
    top: 40%;
    left: 50%;
    color: #FFF;
    background: rgba(0, 0, 0, .7);
    border-radius: .3em;
    transform: translate(-50%, -50%);
    &__content{
        margin: 0;
    }
    &__icon{
        padding: 0.357em 0;
    }
}