@import './common/transition'; // 过度动画
@import './components/toast';
@import './components/confirm';
*{
    margin: 0;
    padding: 0;
}

.jdialog{
    position: fixed;
    left: -9999em;
    animation-duration: .35s;
    animation-fill-mode: both;
    &__mask{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }
}